body {
    background-color: whitesmoke;
    font-family: "Funnel Sans";
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#tools {
    display: flex;
    padding: 2vh 2vw;
    max-width: 50vw;
    flex-direction: column;
    justify-content: center;
}


#date-picker button{
    border: none;
    padding: 1vh 1vw;
    margin-left: 2vw;
    background-color: #ccc;
}

#colorbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 44vw;
    height: 7.5vh;
}

#words-container {
    width: 32vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.word {
    font-weight: 700;
    display: flex;
    width: 7vw;
    height: 7vw;
    margin: 0.5vh 0.5vw;
    align-content: center;
    background-color: #ccc;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    font-size: 0.8vw;
}

.word:hover {
    background-color: #aaa;
    transition: 0.2s;
}

.color-button {
    border-radius: 10px;
    flex: 1;
    margin: 0vh 2vw;
    transition: 0.2s ease-out;
}

.color-button-selected {
    border: 5px black solid;
    flex: 2;
    transition: 0.2s ease-in;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


@media (max-width: 900px) {
    body {
        background-color: whitesmoke;
        flex-direction: column;
        font-size: small;
    }

    #tools {
        max-width: 90vw;
        padding: 2vh 5vw;
    }

    
    #tools h1, #tools h2, #tools h3 {
        margin: 0.5vh 0vw;
    }

    #words-container {
        width: 85vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #colorbar {
        width: 60vw;
        height: 5vh;
    }

    .color-button-selected {
        border: 3px black solid;
    }

    .word {
        font-size: 2.5vw;
        width: 20vw;
        height: 10vh;
        margin: 1vh 0.5vw;
    }

    .footer {
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: space-evenly;
}
}